p.caption, caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: center;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 42px;
}
h1 {
    FONT-WEIGHT: 100;
    font-size: 30px;
}
h2 {
    FONT-WEIGHT: 100;
    font-size: 24px;
}
h3 {
    FONT-WEIGHT: 100;
    font-size: 18px;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: 5px solid #eee;
}